<h1>Pragmatic Order Shipped</h1>

<p>
  This is just let you know that we've shipped your recent order:
</p>

<table>
  <tr>
    <th colspan="2">Quantity</th><th>Description</th>
  </tr>
  <tr>
  <% @order.line_items.each do |line_item | %>
    <td><%= line_item.quantity %></td>
    <td><%= line_item.product.title %></td>
    <td class="price"><%= number_to_currency(line_item.total_price) %></td>
  <% end %>
  </tr>
</table>
