// Place all the styles related to the LineItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@keyframes line-item-highlight {
  0% {
    background: rgba(215, 248, 155, 0.883);
    opacity: 0.5;
  } 
  100% {
    background: none;
  }
}

.line-item-highlighting {
  animation: line-item-highlight 2s;
}

